*, *:after, *:before {
  box-sizing: border-box;
}

body {
  background-color: rgb(18, 18, 18);
  color: white;
  margin: 0;
  font-family: system-ui, sans-serif;
  background: url(./cod.jpg) no-repeat center center fixed;
  background-size: cover;
}
h3, h5 {
  margin: 0;
}
.container {
  display: flex;
  flex-direction: column;
  background: rgba(0, 0, 0, 0.85);
  padding: 10px;
  height: 100vh;
  width: 100vw;
}
.content {
  display: grid;
  grid-template-areas:
    'nav main'
    'side main';
  grid-template-columns: 270px;
  grid-template-rows: auto 1fr;
  gap: 10px;
  margin: 0 auto;
  overflow: auto;
  width: 90%;
  height: 100%;
}

.weapon__grid {
  flex: 1;
  width: 100%;
  display: grid;
  gap: 5px;
  grid-auto-columns: 1fr;
  grid-auto-rows: 1fr;
  grid-template-areas:
    ". barrel barrel barrel barrel laser laser laser laser optic optic optic optic stock stock stock stock"
    "muzzle muzzle muzzle muzzle . aftermarketParts aftermarketParts aftermarketParts aftermarketParts aftermarketParts aftermarketParts aftermarketParts . comb comb comb comb"
    ". underbarrel underbarrel underbarrel underbarrel ammunition ammunition ammunition ammunition magazine magazine magazine magazine rearGrip rearGrip rearGrip rearGrip";}

.weapons {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.weapon {
  position: relative;
  grid-area: main;
  display: flex;
  flex-direction: column;
  height: 100%;
  flex: 1;
  border-radius: 4px;
  /* background-color: rgba(255, 255, 255, 0.1); */
  text-decoration: none;
  color: white;
  gap: 10px;
  overflow: auto;
}

.weapon__title {
  display: flex;
  align-items: center;
  gap: 5px;
  padding: 5px 10px;
}
.weapon__title.info {
  display: grid;
  grid-template-areas:
    'img title'
    'img tier';
  grid-template-columns: auto 1fr;
  background-color: rgba(255, 255, 255, 0.1);
  padding: 20px 10px;
  border-radius: 5px;
}
.weapon__title img {
  grid-area: img;
  height: 48px;
  object-fit: contain;
}
.builds {
  display: flex;
  flex-direction: column;
  overflow: auto;
  padding-right: 5px;
  gap: 10px;
}
/* For WebKit browsers (Chrome, Safari) */
.scrollbar::-webkit-scrollbar {
  width: 8px;
}

.scrollbar::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 5px;
}

.scrollbar::-webkit-scrollbar-track {
  background-color: transparent;
}

.build {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  /* border-bottom: 5px solid black; */
  background-color: rgba(255, 255, 255, 0.1);
  padding: 30px 10px;
  border-radius: 5px;
}
.build:last-of-type {
  border: none;
}
.build__info {
  display: flex;
  align-items: center;
  gap: 10px;
}
.build__info img {
  height: 25px;
  object-fit: contain;
}

.build__info h4 img {
  width: 27px;
  vertical-align: middle;
}
.build h4 {
  margin: 0;
}

.weapon .close {
  display: none;
  position: absolute;
  right: 0px;
  top: 0px;
}

@media screen and (max-width: 1024px) {
  .content {
    width: 100%;
  }
}

@media screen and (max-width: 600px) {
  .content {
    width: 100%;
    grid-template-areas: 'nav' 'side' 'main';
    grid-template-columns: auto;
    grid-template-rows: auto auto 1fr;
  }

  .weapon .close {
    display: block;
    transform: scale(0.8);
  }
  .weapon__title.info {
    font-size: 14px;
    padding: 10px;
  }

  .weapon__title.info img {
    grid-area: img;
    height: 30px;
    object-fit: contain;
  }
}

.close {
  box-sizing: border-box;
  position: relative;
  display: block;
  transform: scale(var(--ggs, 1));
  width: 22px;
  height: 22px;
  border: 2px solid transparent;
  border-radius: 40px
}
.close::after,
.close::before {
  content: "";
  display: block;
  box-sizing: border-box;
  position: absolute;
  width: 16px;
  height: 2px;
  background: currentColor;
  transform: rotate(45deg);
  border-radius: 5px;
  top: 8px;
  left: 1px
}
.close::after {
  transform: rotate(-45deg)
}